{% load static %}
<div class="border-end border-info h-100">
    <div class="text-center">
        <img src="{% static 'core/images/mypic.jpg'%}" alt="" class="img-fluid rounded-circle mt-5" width="200" height="200">
        <h3 class="text-white mt-4 my-font">Sumit Kumar Maurya</h3>
    </div>
    <hr class="border border-light">
  <nav class="nav flex-column text-center">
    <a href="{% url 'home' %}" class="nav-link {{home_active}}">Home</a>
    <a href="{% url 'services' %}" class="nav-link {{ser_active}}">Services</a>
    <a href="{% url 'skill' %}" class="nav-link {{edu_active}}">Skill</a>
    <a href="{% url 'contact' %}" class="nav-link {{contact_active}}">Contact</a>
  </nav>
</div>